wyrd
*.o
*.cmi
*.cmx
*.cma
*.cmxo
*.cmxa
*.cmo
*.so
*.a
Makefile
autom4te.cache/
.stamp_built_curses
config.log
config.status
install.ml
version.ml
wyrd.opt
curses/config.h
curses/config.ml
curses/META
curses/._bcdi/
curses/._ncdi/
curses/._d/
